.tag {
	border-style: none;
	color: rgb(100,100,100);
	font-size: 1rem;
	padding: 0.1rem 0.5rem 0.1rem 0.5rem;
	cursor: pointer;
	border-style: none none solid none;
	border-color: rgba(0,0,0,0);
	border-width: 1px 1px 2px 1px;
	border-radius: 10px;
	background: rgba(255,255,255,0);
}

.tag:hover {
	border-color: rgba(200,200,200,1);
	background: rgba(100,100,100,1);
	color: white;
}

.selected {
	border-color: rgba(200,200,200,1);
	background: rgba(100,100,100,1);
	color: white;
}